@tailwind base;
@tailwind components;
@tailwind utilities;


.wave-hand {
  animation-name: wave-animation;
  animation-duration: 10.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}


.emoji.animate {
  animation: headTilt 750ms infinite
}


.animate #head {
  animation: headTilt 750ms infinite
}

.animate #mouth {
  animation: mouthSize 250ms infinite;
}

#head {
  /* position: absolute; */
  /* top: 52px; */
  /* left: 71px; */
}

.eye {
  background-color: black;
  height: 93px;
  width: 60px;
  margin: 27px;
  border-radius: 100%;
  display: inline-block;
}

#mouth {
  background-color: black;
  height: 1px;
  width: 370px;
  display: inline-block;
  margin-top: 55px;
}

@keyframes headTilt {  
  from, to {
    transform: rotate(10deg);
  }
  
  50% {
    transform: rotate(-10deg);
  }
}


@keyframes mouthSize {
  0% {
    height: 2px;
  }
  
  50% {
    height: 40px;
  }
  
  100% {
    height: 2px;
  }
}

